{% extends 'public/public.template.html.twig' %}

{% block title %}{{ parent() }} - Section {{ section.thesectiontitle }}{% endblock %}

{% block content %}


    <div class="container">
        <h1 class="mx-auto p-4">Tous nos articles<br> <small class="text-muted">nous avons {{ section.thearticleIdthearticle|length }} articles</small></h1>
        <h2>Facile, en partant de la section, mais génère de multiples requêtes (à décommenter)</h2><hr>
        <div class="row">

                {% for item in section.thearticleIdthearticle %}
            <div class="col-sm-4">
                    <h3>{{ item.thearticletitle }}</h3>
                    <p>Nombre de commentaire : {{ item.thecommentIdthecomment.count }}   </p>
                    <p>Rubrique : {% for rub in item.thesectionIdthesection %}
                            <a href="{{ path('app_public_section',{'slug':rub.getThesectionslug}) }}">{{ rub.getThesectiontitle }}</a>
                        {% endfor %}</p>
                    <p>Ecrit par {{ item.theuserIdtheuser.theuserlogin }} le {{ item.thearticledate|date("d/m/Y à H:i") }}</p>
                    <p>{{ item.thearticleresume }} ... <a href="{{ path('app_public_detail_article',{'slug':item.thearticleslug})  }}">Lire la suite</a></p>
            </div>
                {% else %}
                    <h3 class="alert alert-danger">Pas encore d'article</h3></div>
                {% endfor %}

        </div>

    <h2>Plus complexe, mais ne génère presque pas de requêtes !<small>voir SelectAllArticlesBySectionID dans ThesectionRepository.php</small></h2><hr>
            <h1 class="mx-auto p-4">Tous nos articles<br> <small class="text-muted">nous avons {{ articles|length }} articles</small></h1>
            <h2>Facile, en partant de la section, mais génère de multiples requêtes</h2><hr>
    <div class="row">

    {% for item in articles %}
        <div class="col-sm-4">
            <h3>{{ item.thearticletitle }}</h3>
            <p>Nombre de commentaire : {{ item.nbcomment }}   </p>
            <p>Rubrique : {% set rubtitle = item.thesectiontitle|split('|||') %}
                {% set rubslug = item.thesectionslug|split('|||') %}
                {% for section in rubtitle %}
                    <a href="{{ path('app_public_section',{'slug':rubslug[loop.index0]})  }}">{{ section }}</a>
                {% endfor %}</p>
            <p>Ecrit par {{ item.theuserlogin }} le {{ item.thearticledate|date("d/m/Y à H:i") }}</p>
            <p>{{ item.thearticleresume }} ... <a href="{{ path('app_public_detail_article',{'slug':item.thearticleslug})  }}">Lire la suite</a></p>
        </div>
    {% else %}
        <h3 class="alert alert-danger">Pas encore d'article</h3></div>
    {% endfor %}

    </div>

    </div>


{% endblock %}
